/* ------------------------------
		 About  
------------------------------ */
.about{
    margin-left: 100px;
	padding-left:50px;
	padding-top: 70px;
    padding-right: 40px;

    .section-title p {
		margin-top: .6rem;
		margin-bottom: 1rem;
	}

    .about-details {
        width: 100%;
        display: flex;
        margin-top: 2rem;;
    }
    

    .about-left {
        width: 35%;
        @include shadow;
    }

    .about-right {
        width: 65%;
        margin-left: 1rem;
        @include shadow;
        
        .details {
            padding: 2rem;
            
            p {
                margin: 1rem 0;
            }
        }
    }

    .about-right:hover,
    .about-right:focus {
        background-color: $bg-light;
    }

	.hero{
		border:1px solid $bg-light;
		padding: 6px;
		border-radius: $rd-round;
		img{
			border-radius:$rd-round;
		}
	}
    .details{
    	.info{
			display: inline-block;
			width: 100%;
			li{
				margin-bottom: 10px;
    			width: 50%;
    			float: left;
			}
		}
    }
}